@charset "utf-8";
h1 {
	font-size:70px;
	text-align:center;
	margin-top:0;
}
body {	
	min-width:1000px;
}
.buttons, #navwrapper{
	background-image: -ms-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -moz-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -o-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #830D11), color-stop(1, #BF0534));
	background-image: -webkit-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: linear-gradient(to top, #830D11 0%, #BF0534 100%);
}
.buttons {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	backface-visibility:hidden;*/
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	text-indent:-31.71px;
	border:2px solid #d83526;
	border-bottom:none;
	border-right:none;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 100%;
	line-height:78px;
	width:151px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 32px #b23e35;
	position:relative;
}
.buttons:hover, .buttons:focus {
	text-decoration: none;
	color: #aaf;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100
}
.buttons:active {
	position:relative;
	top:1px;
}
.content{
	min-width:470px;
	width:100%;
	padding: 5px;
	/*height:700px;*/
}
.column{
	float: left;
	width:32%;
	padding: 5px;
	/*
	border-style:solid;
	border-width:medium;
	border-color:#D41F55;
	*/
	height: 900px;
}
.listheads{
	font-size: 36px;
	padding:5px;
	background-color:#BB0531;
	color:#FFFBF0;	
	display:inline-block;
	font-family: Arial;
}
.subcats{
	text-align:left;
	font-size:18px;
	font-family:Arial;
	color:	#BB0531;
}
.subcats li{
	margin-left:40px;
}
#clear{
	clear:both;
}
#footerwrapper{
	margin: 0px auto;
	height:100px;
	width:100%;
	min-width: 950px;
	font-weight:100;
	margin-left:auto;
	margin-right:auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-image: -ms-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -moz-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -o-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #BF0534), color-stop(1, #830D11));
	background-image: -webkit-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: linear-gradient(to top, #BF0534 0%, #830D11 100%);
}
#homebutton{
	height:90px;
	padding-top:5px;
	padding-left: 15px;
	float:left;
}
#level2button{
	position:relative;
	right: 20px;
	z-index: 0;
}
#level3button{
	position:relative;
	right: 40px;
	border-top-right-radius:5px;
	border-right:none;
}
#nav{
	position:relative;
	left: 40px;
	height:98%;
	float:right;
}
#navwrapper{
	margin: 0px auto;
	height:100px;
	width:100%;
	min-width: 950px;
	font-weight:100;
	margin-left:auto;
	margin-right:auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#wrapper{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	min-width:960px;
	box-shadow: 0 0 15px 0px #2A3F55;
	border-radius:5px;
}

#middlecolumn {
	//padding-left:2px;
	font:"Comic Sans MS", cursive (0,0,0);
	border-style: solid;
	border-width: 5px;
	border-color:#000080;
	width: 600px;
	margin:80px auto;
}
#middlecolumn textarea {
	color:#303030;
	margin-left:90px;
	padding-left:25px;
}
#middlecolumn a {
	color:#303030;
	padding-left:0;
	margin-left:0;
}
#middlecolumn p {
	color:#303030;
	padding-left:25px;
}
