@charset "utf-8";
h1 {
	font-size:70px;
	text-align:center;
	margin-top:0;
}
body {	
	min-width:960px;
	font-family:Arial;
	background-image:url(cell.png);
	background-repeat:repeat;
	background-size:3%;
}
.bodytext{
	padding:10px;
	padding-top:30px;
	margin:auto;
	text-align:justify;
	font-size:18px;
	color:#000;
	width: 80%;
	height: 760px;
}
label{
	width:120px;
	float:left;
	margin-bottom:20px;
	display:block;
}
.buttons, #navwrapper{
	background-image: -ms-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -moz-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -o-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #830D11), color-stop(1, #BF0534));
	background-image: -webkit-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: linear-gradient(to top, #830D11 0%, #BF0534 100%);
}
.buttons {
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	text-indent:-31.71px;
	border:2px solid #d83526;
	border-bottom:none;
	border-right:none;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 100%;
	line-height:78px;
	width:151px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 32px #b23e35;
	position:relative;
}
.buttons:hover, .buttons:focus {
	text-decoration: none;
	color: #aaf;
	text-shadow: none;
	outline: 0 none;
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C80000), color-stop(1, #830D11) );
	background:-moz-linear-gradient( center top, #C80000 5%, #830D11 100% );
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}
.catsize{
	width:130px;
}
.content{
	margin-top:60px;
	min-width:470px;
	width:100%;
}
.column{
	float: left;
	width:31%;
	padding: 10px;
	padding-top:30px;
	height: 350px;
}
.listheads{
	background-image: -ms-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -moz-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -o-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #830D11), color-stop(1, #BF0534));
	background-image: -webkit-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: linear-gradient(to top, #830D11 0%, #BF0534 100%);
	font-size: 36px;
	padding:0 20px;
	border-radius:1px;
	color:#FFFBF0;	
	display:inline-block;
	font-family: Arial;
	text-decoration:none;
	color: #fff;
}
.listheads:hover{
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C80000), color-stop(1, #830D11) );
	background:-moz-linear-gradient( center top, #C80000 5%, #830D11 100% );
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
}
.lItem{
	width:100%;
	height:40px;
	font-size:16px;
	padding:10px 5px 10px 5px;
}
.lDate{
	background-color:#BD0532;
	color:#e8e8e8;
	width: 110px;
	float:left;
	font-size:18px;
	padding:5px;
	text-align:center;
}
.lDate p{
	margin:auto;
}
.lSubject{
	width:74%;
	margin-right:10px;
	margin-left:10px;
	padding-top:7px;
	float:left;
	overflow:hidden;
}
.lSubject a{
	color:black;
}
.lsubject a:hover{
	background-color:#bd0532;
}
.lCost{
	float:left;
	height:auto;
	width:auto;
	margin:auto;
	padding: 7px 10px 0px 0px;
}
.lPicture{
	width: auto;
	float: left;
	font-size: 14px;
}
.lPicture img{
	width:30px;
}
.listing{
	padding:10px;
	border-color:#000;
}
.listing td{
	padding:5px 2px 5px 2px;
}
.logoutbutton{
	z-index:2;
}
.postbutton{
	left:16px;
	z-index:1;	
}
.logoutbutton, .postbutton{
	background-image: -ms-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -moz-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -o-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #BF0534), color-stop(1, #830D11));
	background-image: -webkit-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: linear-gradient(to top, #BF0534 0%, #830D11 100%);
	border:2px solid #d83526;
	border-right:none;
	border-top:none;
	border-bottom-left-radius:5px;
	width: 151px;
	height: 30px;
	float:right;
	position: relative;
	text-indent:31.71px;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	color:#ffffff;
	text-decoration:none;
	margin-top:auto;
	margin-bottom:auto;
	padding-top:20px;
	display:inline-block;
}
.logoutbutton:hover, .postbutton:hover{
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	background:-webkit-gradient( linear, left bottom, left top, color-stop(0.05, #C80000), color-stop(1, #830D11) );
	background:-moz-linear-gradient( center bottom, #C80000 5%, #830D11 100% );
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;

}
.logoutbutton:active, .postbutton:active{
	color:#808080;
}
.subcats{
	text-align:left;
	font-size:16px;
	font-family:Arial;
	color:#000;
	list-style-type:none;
	padding:0;
}
.subcats a{
	color:#000;
	text-decoration:none;
}
.tab{
	padding-left:40px;
}
.subcats li{
	padding: 5px 0 5px 0;
}
#clear{
	clear:both;
}
#homebutton{
	width: 50%;
	max-width: 495px;
	padding-top:5px;
	padding-left: 10px;
	float:left;
}
#level2button{
	position:relative;
	right: 20px;
	z-index: 0;
}
#level3button{
	position:relative;
	right: 40px;
	border-top-right-radius:5px;
	border-right:none;
}
#listings{
	margin-left:auto;
	margin-right:auto;
	width:100%;
	padding: 60px 0 40px 0;
}
#lost{
	margin-left:auto;
	margin-right:auto;
	padding: 20px 0px 20px 0px;
}
#nav{
	position:relative;
	left: 40px;
	height:98%;
	float:right;
}
#navwrapper{
	margin: 0px auto;
	height:100px;
	width:100%;
	min-width: 950px;
	font-weight:100;
	margin-left:auto;
	margin-right:auto;
}
#wrapper{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	min-width:960px;
	box-shadow: 0 0 15px 0px #2A3F55;
	background-color:#fff;
	max-width:1285px;
}