@charset "utf-8";
h1 {
	font-size:70px;
	text-align:center;
	margin-top:0;
}
body {	
	min-width:960px;
	font-family:Arial;
	background-image:url(cell.png);
	background-repeat:repeat;
	background-size:3%;
}
.bodytext{
	padding:10px;
	padding-top:30px;
	margin:auto;
	text-align:justify;
	font-size:18px;
	color:#000;
	width: 80%;
	height: 760px;
}
.buttons, #navwrapper{
	background-image: -ms-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -moz-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -o-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #830D11), color-stop(1, #BF0534));
	background-image: -webkit-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: linear-gradient(to top, #830D11 0%, #BF0534 100%);
}
.buttons {
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	backface-visibility:hidden;*/
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	text-indent:-31.71px;
	border:2px solid #d83526;
	border-bottom:none;
	border-right:none;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height: 100%;
	line-height:78px;
	width:151px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 32px #b23e35;
	position:relative;
}
.buttons:hover, .buttons:focus {
	text-decoration: none;
	color: #aaf;
	text-shadow: none;
	outline: 0 none;
	color: #fff;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #C80000), color-stop(1, #830D11) );
	background:-moz-linear-gradient( center top, #C80000 5%, #830D11 100% );
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100*/
}
.content{
	min-width:470px;
	width:100%;
	text-align:center;
	/*height:700px;*/
}
.column{
	float: left;
	width:31%;
	padding: 10px;
	text-align:center;
	/*
	border-style:solid;
	border-width:medium;
	border-color:#D41F55;
	*/
	height: 900px;
}
.listheads{
	background-image: -ms-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -moz-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -o-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #830D11), color-stop(1, #BF0534));
	background-image: -webkit-linear-gradient(bottom, #830D11 0%, #BF0534 100%);
	background-image: linear-gradient(to top, #830D11 0%, #BF0534 100%);
	font-size: 36px;
	padding:0 20px;
	border-radius:3px;
	color:#FFFBF0;	
	display:inline-block;
	font-family: Arial;
}
.listing{
	padding:10px;
	border-color:transparent;
}
.logoutbutton{
	background-image: -ms-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -moz-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -o-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #BF0534), color-stop(1, #830D11));
	background-image: -webkit-linear-gradient(bottom, #BF0534 0%, #830D11 100%);
	background-image: linear-gradient(to top, #BF0534 0%, #830D11 100%);
	border:2px solid #d83526;
	border-right:none;
	border-top:none;
	border-bottom-left-radius:20px;
	width: 151px;
	height: 30px;
	float:right;
	position: relative;
	z-index:1;
}
.logoutbutton a{
	color:#ffffff;
	text-decoration:none;
	margin-top:auto;
	margin-bottom:auto;
	padding-top:20px;
	padding-left:30px;
}
.logoutbutton a:hover{
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	color:#C8955B;
	text-shadow:0 0 2px #FFF;
}
logoutbutton a:active{
	position:relative;
	top:2px;
}
	
.subcats{
	text-align:left;
	font-size:16px;
	font-family:Arial;
	color:#000;/*#BB0531;*/
	list-style-type:none;
}
.tab{
	padding-left:40px;
}
.subcats li{
	padding: 5px 0 5px 0;
	/*margin-left:40px;*/
}
#clear{
	clear:both;
}
#homebutton{
	width: 50%;
	max-width: 495px;
	padding-top:5px;
	padding-left: 10px;
	float:left;
}
#level2button{
	position:relative;
	right: 20px;
	z-index: 0;
}
#level3button{
	position:relative;
	right: 40px;
	border-top-right-radius:5px;
	border-right:none;
}
#nav{
	position:relative;
	left: 40px;
	height:98%;
	float:right;
}
#navwrapper{
	margin: 0px auto;
	height:100px;
	width:100%;
	min-width: 950px;
	font-weight:100;
	margin-left:auto;
	margin-right:auto;
	/*border-top-left-radius: 5px;
	border-top-right-radius: 5px;*/
}
#wrapper{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:auto;
	margin-right:auto;
	width:68%;
	min-width:960px;
	box-shadow: 0 0 15px 0px #2A3F55;
	background-color:#fff;
	max-width:1285px;
	/*border-radius:5px;*/
}

#middlecolumn {
	padding-left:2px;
	font:Arial (0,0,0);
	width: 600px;
	margin:80px auto;
}
#middlecolumn textarea {
	color:#303030;
	margin-left:90px;
	padding-left:25px;
}
#middlecolumn a {
	color:#303030;
	padding-left:0;
	margin-left:0;
}
#middlecolumn p {
	color:#303030;
	padding-left:25px;
}
#title{
	margin-top:20px;
}
